* {
    background-color: black;
    font-family: 'PT Sans', sans-serif;
}
.logo {
    display: block;
    margin: auto;
    max-width: 310px;
}

body {
    margin: auto;

}

.navBar {
    margin: auto;
    font-size: 32px;
    text-align: center;
}

.navBar a {
    color: white;
    text-decoration: none;
    padding: 18px;
    display: inline-block;
}
.navBar a:hover {
    background-color: #69ddff;/*
    color: black;*/
}
.navBar a.active{
    background-color: #69ddff;
  }
  img{
    max-width: 100%;
}
p{
    display: block;
    color: palevioletred;
    margin: 22px 50px 0 40px;
    font-size: x-large;
    
}
.footer {
    margin-top: 9px;
}
.Logofooter{
    max-width: 140px;
    display: block;
    margin: auto;
}
#production{
    text-align: center;
    font-size: large;
    margin-top: -17px;
}
#slogan{
    text-align: center;
    font-size: small;
    margin-top: 0;
}
#creator{
    text-align: left;
    font-size: 10px;
}
.trailer{
    display: block;
    text-align: center;
}

.trailerSub{
    margin-bottom: 10px;
}
.trailer1{
    color: #69ddff;
    margin-bottom: 50px;
}